## this is my learning in python  and understanding the usage fo the juypiter notebook

In [2]:
1+2

3

In [4]:
print(67)

67

In [6]:
print ("welcome to my channel")

welcome to my channel

In [12]:
#single line comments

'''
multi line comment
'''
print(78)

78

In [22]:
# variable declaration
a = 890
b = "helllol world"
print(b)
print(type(b))
'''
the avriable should not start with numnber = 1a 
you cannot  do int = 1
'''

helllol world
<class 'str'>

In [24]:
a=10
b="hello"
print(a+b)
## this will give error for unsupported operand types

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
#string concatanation
a = " hello "
print (a + "world")

 hello world

In [30]:
## typecasting example 
a = "hello "
print (a + str(24))

hello 24

In [34]:
#dynamic typing
a= 10
print(a)
a= "hero"
print(a)

10
hero

In [ ]:
#strong typing
a=10
b="hello"
print(a+b)
## this will give error for unsupported operand types

In [42]:
#custom formatig
first_name = "ashutosh"
last_name = "ROut"
print("my name is {1} and last name is {1}".format(last_name,first_name))

my name is ashutosh and last name is ashutosh