# pandas part1-
learning about -
1.pandas dataframe
2.pandas series
3.pandas basic operations

In [3]:
import pandas as pd
import numpy as np

In [7]:
#creating data from the scratch using dataframe 
#using numpy first to get the data
np.arange(0 , 20).reshape(5,4) #this will create a 2 d array from which we can read  but still its not in the row and column format

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [21]:
#creating data first  using numpy 
data = np.arange(0 , 20).reshape(5,4) # here we are creating the data that we discussed earlier
#creating the dataframe using the data and the pandas
df = pd.DataFrame(data,index=["rw1","rw2","rw3","rw4","rw5"],columns=["c1","c2","c3","c4"])
print(df)

     c1  c2  c3  c4
rw1   0   1   2   3
rw2   4   5   6   7
rw3   8   9  10  11
rw4  12  13  14  15
rw5  16  17  18  19

In [23]:
#to see the top 5 record - by default it shows 5 record
df.head() # syntax = df.head(n)

     c1  c2  c3  c4
rw1   0   1   2   3
rw2   4   5   6   7
rw3   8   9  10  11
rw4  12  13  14  15
rw5  16  17  18  19

In [27]:
#to see the last 5 records- by default 
df.tail()#syntax = df.tail(n)

     c1  c2  c3  c4
rw1   0   1   2   3
rw2   4   5   6   7
rw3   8   9  10  11
rw4  12  13  14  15
rw5  16  17  18  19

In [29]:
type(df)

pandas.core.frame.DataFrame

In [33]:
#to get the datatype of the column - using info method
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, rw1 to rw5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      5 non-null      int32
 1   c2      5 non-null      int32
 2   c3      5 non-null      int32
 3   c4      5 non-null      int32
dtypes: int32(4)
memory usage: 120.0+ bytes

In [35]:
#to do the ETL using the dataframe and clearly to get other information - only integer and float data type  coulms will be handled
df.describe()#gives the information for eaach of the element data and uses  row side to give the information

              c1         c2         c3         c4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [37]:
#indexing in the dataframe
'''
1. coloumns 
2. rowindex[loc]
3. rowindex columnindex[.iloc] (index location)
'''

'\n1. coloumns \n2. rowindex[loc]\n3. rowindex columnindex[.iloc] (index location)\n'

In [51]:
#using the columns 
#to get a single col
singlecol = df['c1']
print(singlecol)

#to print  multiple coloumns at once we  need to add a array of the col 
multipleCol = df[['c1','c2','c3','c4']]
print(multipleCol) #all the rows with the mentioned coloumn will be printed

rw1     0
rw2     4
rw3     8
rw4    12
rw5    16
Name: c1, dtype: int32
     c1  c2  c3  c4
rw1   0   1   2   3
rw2   4   5   6   7
rw3   8   9  10  11
rw4  12  13  14  15
rw5  16  17  18  19

In [59]:
#using the rows and the loc parameter
rowindex = df.loc['rw1']
print(rowindex)
type(df.loc['rw1'])#this will become a series as we are accessing the single row and col

c1    0
c2    1
c3    2
c4    3
Name: rw1, dtype: int32

pandas.core.series.Series

In [63]:
#using multiple row- we will need to make the array of the array
multiplerow = df.loc[['rw1','rw2','rw3']]
print(multiplerow)

     c1  c2  c3  c4
rw1   0   1   2   3
rw2   4   5   6   7
rw3   8   9  10  11

In [69]:
#using the rowindex and column index 
rowcolindex = df.iloc[2:4 , 0:2]
print(rowcolindex)

type(rowcolindex)

     c1  c2
rw3   8   9
rw4  12  13

pandas.core.frame.DataFrame

In [71]:
#convert the dataframe into array 
df.iloc[2:4 , 0:2].values

array([[ 8,  9],
       [12, 13]])

###basic operations---------------------------------------

In [94]:
#to check for null values- to get all the null values in a dataframe
val =df.isnull().sum()
print("the cols that the number of null value" ,val)

nulldataframe = df.isnull()
print(nulldataframe)
#since there are no null values then there are  0 values for each column

the cols that the number of null value c1    0
c2    0
c3    0
c4    0
dtype: int64
        c1     c2     c3     c4
rw1  False  False  False  False
rw2  False  False  False  False
rw3  False  False  False  False
rw4  False  False  False  False
rw5  False  False  False  False

KeyError: 'col1'